*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* nav part */
.heading-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 240px 0px;
  background-color: rgba(229, 84, 115, 0.10);
}
.heading-tittle{
  color: #272727;
font-size: 80px;
font-weight: 800;
}
.heading-text{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin: 32px 0px;
}
/* common style */
.common-btn{
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #E55473;
  padding: 20px 43px;
  cursor: pointer;
  border: 0px;
}
.pink{
  color: #E55473;
}
section{
  text-align: center;
  max-width: 1920px;
  margin: 0px 240px;
}
/* feature section */
.feature-tittle{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin: 180px 0px 25px;
}
.feature-text{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-bottom: 50px;
}
/* img section */
.img-container{
  display: flex;
  justify-content: space-around;
  gap: 25px;
  align-items: flex-end;
}
.img-text{
  color: #272727;
font-size: 24px;
font-weight: 700;
text-decoration: underline;
margin-top: 32px;
}
.img-6{
  padding: 100px 70px 0px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
}
.img-5{
  padding: 110px 40px 50px;
  background-color: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
}
.img-7{
  padding: 60px 65px 0px;
  background-color: rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
}
/* support section */
.support-container{
  display: flex;
  margin: 130px auto;
  justify-content: space-between;
  padding: 85px 175px;
  background-color: rgba(39, 39, 39, 0.05);
  gap: 50px;
}
.support-text{
  color: rgba(39, 39, 39, 0.80);
  font-size: 20px;
  font-weight: 500;
}
/* deal section */
.deal-container{
  display: flex;
 align-items: center;
justify-content: center;
gap: 190px;
background-color: rgba(229, 84, 115, 0.05);
text-align: center;
margin-bottom: 180px;
}
.deal-tittle{
  color: #272727;
font-size: 40px;
font-weight: 800;
}
.deal-text{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin: 24px 0px 32px;
}
.deal-img{
  padding: 100px 0px;
}
/* insta section */
.insta-text{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin: 25px 0px 50px;
}
.insta-imgs{
  display: flex;
  gap: 24px;
  margin-bottom: 130px;
}